.slider {
  --slide-grow: 0;
  --slide-count: attr(data-slider-slides-to-show number);
  max-width: 100%;
}

.slider__container {
  position: relative;
  overflow: visible;
}
.slider__list {
  display: flex;
  overflow: auto;
  scroll-snap-type: x proximity;
}
.slider__list::-webkit-scrollbar {
  scrollbar-width: none;
}
.slider__item {
  scroll-snap-align: start;
  flex: var(--slide-grow) 0 calc(100% / var(--slide-count));
}

.slider__prev {
  background-color: blue;
  width: 20px;
  height: 20px;
  position: absolute;
}
[data-slider-controll-button-align="inside"] .slider__prev {
  left: 1%;
  top: 50%;
  transform: translate(-1%, -50%);
}
[data-slider-controll-button-align="outside"] .slider__prev {
  left: -3%;
  top: 50%;
  transform: translate(3%, -50%);
}
[data-slider-controll-button-align="none"] .slider__prev {
  display: none;
}
.slider__next {
  background-color: blue;
  width: 20px;
  height: 20px;
  position: absolute;
}
[data-slider-controll-button-align="inside"] .slider__next {
  right: 1%;
  top: 50%;
  transform: translate(-1%, -50%);
}
[data-slider-controll-button-align="outside"] .slider__next {
  right: -3%;
  top: 50%;
  transform: translate(3%, -50%);
}
[data-slider-controll-button-align="none"] .slider__next {
  display: none;
}
.slider__indicator {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
[data-slider-indicator-align="bottom inside"] {
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}
[data-slider-indicator-align="bottom outside"] {
  bottom: -12%;
  left: 50%;
  transform: translate(-50%, 12%);
}
[data-slider-indicator-align="top inside"] {
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}
[data-slider-indicator-align="top outside"] {
  top: -12%;
  left: 50%;
  transform: translate(-50%, 12%);
}
[data-slider-indicator-align="none"] {
  display: none;
}

.slider__point svg {
  color: var(--unactive-point-green);
  transition: all 0.2s ease;
}

.slider__point_active svg {
  color: var(--active-point-green);
}
.element-hidden {
  display: none;
}
