@import "reset.css";
@import "variables.css";
@import "common.css";

/* components */
@import "components/slider.css";

body {
  height: 100vh;
  width: 100vw;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
.container {
  width: 60%;
  background-color: green;
}
.item {
  height: 200px;
  width: 100%;
  border: 1px solid black;
  background-color: yellow;
}
